@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap");

html {
  background: #503a4e;
  overflow-x: hidden;
  font-family: "Poppins", Geneva, Verdana, sans-serif;
}

header > h1 {
  width: 110%;
  background: rgb(77, 68, 78);
  color: white;
  text-align: center;
  padding: 36px 0;
  margin: 0 -5% 36px -5%;
  box-shadow: 0px 2px 5px 1px black;
}
main {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  align-items: center;
  width: 100%;
  font-size: 125%;
}

img {
  width: 90%;
  margin: auto;
  height: auto;
}

ul li {
  list-style: none;
  font-size: 20px;
}

.start,
.feedback,
.summary,
.question {
  background: #e9dae9;
  border: 1px solid black;
  display: inherit;
  flex-flow: column wrap;
  justify-items: center;
  width: 75%;
  margin: auto;
  margin-bottom: 36px;
  padding: 36px 36px;
  border-radius: 12px;
  box-shadow: 0px 3px 5px black;
  align-items: center;
}

#question-title {
  text-align: center;
  margin-top: 0;
}
.quiz-result,
#answer-section {
  width: 80%;
  background: #f6f2f7;
  border: 1px solid black;
  display: inherit;
  flex-direction: column;
  padding: 12px 24px;
  border-radius: 12px;
}
.quiz-result {
  text-align: center;
}

#answer-section img {
  width: 90%;
  margin: auto;
  height: auto;
}

label {
  padding: 12px 0;
}

#start,
#answer,
#next,
#restart {
  width: 200px;
  margin: 12px auto;
  background-color: #503a4e;
  color: white;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
}

#score {
  display: flex;
  align-self: center;
}

@media screen and (min-width: 800px) {
  .start,
  .feedback,
  .summary,
  .question {
    width: 50%;
    font-size: 100%;
  }
}
